.ipynb_checkpoints
.ipynb_checkpoints/
__pycache__
__pycache__/
ScriptJob
ScriptJob/
.env
.venv
*.lnk
*.pbix
*.vsdx
*.ndjson
tuning
Model-TF_DF/content_tutorial
tsb_logs


models
model
tuned_model
modelList
model_binary